<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>

<meta charset=utf-8>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

{% if page.meta_title %}<title>{{ page.meta_title | append:title_suffix }}</title>{% else %}<title>{{ page.title | append:title_suffix }}</title>{% endif %}
{% if page.description %}<meta name="description" content="{{ page.description | strip_html }}" />{% elsif page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}" />{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> 
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="google-site-verification" content="{{ site.googleverification }}" />

<!--[if ! lte IE 6]><!-->
<link rel="stylesheet" type="text/css" href="{{ site.url }}/-/css/reset.css" media="screen, projection">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/-/css/style.css?v=1" media="screen, projection">
<!--<![endif]-->

<!--[if lte IE 6]>
<link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection">
<![endif]-->

<!--Google Webfonts-->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
 
<!--JS-->
<script src="{{ site.url }}/-/js/libs/modernizr-1.7.min.js"></script>
<script src="{{ site.url }}/-/js/libs/jquery-1.5.1.min.js"></script>
<script src="{{ site.url }}/-/js/onload.js?v=1"></script>
  
<!--[if lt IE 9]>
<script src="{{ site.url }}/-/js/libs/DOMAssistant-2.8.min.js"></script>
<script src="{{ site.url }}/-/js/libs/selectivizr.js"></script>
<![endif]-->
  
{% include google-analytics.html %}
  
<link href="{{ site.url }}/atom.xml" rel="alternate" title="{{ site.title }} Feed" type="application/atom+xml">

</head>

<body>
  
<div class="wrapper">
<div class="container">